@font-face {
    font-family: 'HK Grotesk';
    src: 
   
        url('../fonts/hkgrotesk-bold-web.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hkgrotesk-bold-web.woff2') format('woff2'),
        url('../fonts/hkgrotesk-bold-web.woff') format('woff'),
        url('../fonts/hkgrotesk-bold-web.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}






