.collection
    &-wrapper
        display: flex
    &__wrap
        &-img
            display: flex
            justify-content: space-between
    &__img
        &-group 
           display: flex
           flex-direction: column
           justify-content: space-between           
    &__img1
        width: 320px
        height: 490px
        object-fit: cover
    &__img2
        width: 320px
        height: 230px
        object-fit: cover
    &__img3 
        width: 320px
        height: 230px
        object-fit: cover  
    &__info
        width: 412px
